{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">

    <div class="row">

        <div class="col-md-8">

            <h1 class="page-header">
                Простой блог
                <small>Ну очень простой</small>
            </h1>

            {% for news in data %}
            <h2>
                <a href="/news/view/{{ news.id }}">{{ news.title }}</a>
            </h2>

            <p><span class="glyphicon glyphicon-time"></span> Последний раз изменено {{ news.updatedAt }}</p>
            <hr>
            {% if news.imageUrl == null %}
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            {% else %}
            <img class="img-responsive" src="{{ news.imageUrl }}" alt="">
            {% endif %}

            <hr>
            <p>{{ news.text|length > 300 ? news.text|slice(0, 300) ~ '...' : news.text }}</p>
            <hr>
            <a class="btn btn-primary" href="/news/editPage/{{ news.id }}">Редактировать <span class="glyphicon glyphicon-chevron-right"></span></a>
            <a class="btn btn-primary" href="/news/delete/{{ news.id }}">Удалить <span class="glyphicon glyphicon-remove"></span></a>
            <hr>
            {% endfor %}

    </div>
    </div>
</div>

{% endblock %}
