<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Blog</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">На главную</a></li>
                <li><a href="/news/create">Написать пост</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<br>
<br>
<br>
<div class="container">

    <div class="starter-template">
        {% block body %}
        {% endblock %}
    </div>

</div><!-- /.container -->
<footer>
    <script>
        $("form#data").submit(function(){

            var formData = new FormData($(this)[0]);

            $.ajax({
                url : $(this).attr('action'),
                type: 'POST',
                data: formData,
                async: false,
                success: function (data) {
                    var json = $.parseJSON(data);
                    location.href = '/news/view' + '/' + json.news_id;
                },
                cache: false,
                contentType: false,
                processData: false
            });

            return false;
        });
    </script>
</footer>
</body>
</html>
